@model List<Banner>
@{
    int count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Banner</h4>
            <a class="btn btn-success" asp-controller="banner" asp-action="create">Create Banner</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Title
                            </th>

                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Banner banner in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>

                                <td>
                                    <img style="width:150px; height:150px" src="~/assets/images/website-images/banner/@banner.Image">
                                </td>
                                <td>
                                    @banner.Title
                                </td>
                                <td>
                                    <a class="btn btn-warning" asp-action="update" asp-controller="banner" asp-route-id="@banner.Id"><i class="mdi mdi-pencil-box"></i></a>
                                    <a class="btn btn-danger" asp-action="delete" asp-controller="banner" asp-route-id="@banner.Id"><i class="mdi mdi-delete"></i></a>
                                    <a class="btn btn-primary" asp-action="details" asp-controller="banner" asp-route-id="@banner.Id"><i class="mdi mdi-open-in-new"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


